@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="date"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #b1b0b0;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }

textarea{
  width: 100%;
}

textarea::-webkit-scrollbar-track {
  padding: 1px 0;
  background-color: rgba(0,0,0,0.7);
}

textarea::-webkit-scrollbar {
  width: 8px;
}

textarea::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.7);
}

:root {
    --blanco: #ffffff;
    --gris1: #edf2f6;
    --gris2: #1f1c1d;
    --gris3: #1a202d;
    --negro: #0000;
    --headingFont:'Raleway', sans-serif;
    --textFont:  'Roboto', sans-serif;
    --options: #c60923;
    --options-hover: #aa0a1f;
    --border-radius: 10px;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  } 
  html {
    box-sizing: border-box;
    height: 100%;
    font-size: 62.5%;
    scroll-behavior: smooth; 
  }
  
  body {
    min-height: 100%;
    background-color: var(--gris1);
    font-size: 16px; 
    font-size: 1.6rem;
    font-family: var(--textFont);
  }
  
  
  h1, h2 {
    font-family: var(--headingFont);
    font-weight: 900;
    margin: 0 0 4rem 0;
    text-align: center;
    color: var(--gris2);
  }
  h1 span {
    font-weight: 400;
  }

  h4 span{
    font-weight: 700;
  }

  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.4rem;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  a {
    text-decoration: none;
    color: var(--gris2);
  }
  
  /** BOTONES **/
  .btn {
    margin-top: 2rem;
    font-family: var(--headingFont);
    padding: 1.5rem;
    font-size: 1.4;
    font-weight: 400;
    border-radius: .5rem;
    border: none;
    transition: background-color .3s ease;
  }
  .btn:hover {
    cursor: pointer;
  }
  .btn-primario {
    background-color: var(--gris2);
    color: var(--blanco);
  }
  .btn-primario:hover {
    background: var(--gris3);
  }
  .btn-secundario {
    background-color: var(--gris1);
  }
  .btn-block {
    display: block;
    width: 100%;
  }
  .btn-submit:hover {
    background-color: var(--gris2);
  }
  .btn-blank {
    margin: 0;
    padding: 0;
    display: block;
    background-color: transparent;
    width: 100%;
    height: 3em;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.7);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.7);
  }
  
  @media (min-width: 768px) {
    .contenedor-app {
        display: flex;
        min-height: 100vh;
    }
  
    aside {
        background-color: var(--blanco);
        flex: 0 0 200px;
    }
    .seccion-principal {
        flex: 1;
    }
  
  }
  
  
  /* BARRA LATERAL */
  
  
  .formulario-nuevo-proyecto {
    margin-top: 6rem;
  }
  .formulario-nuevo-proyecto .input-text {
    border-bottom: 1px solid var(--gris2);
    border-radius: 0;
    background-color: var(--gris1);
  }
  .formulario-nuevo-proyecto .input-text::placeholder{
    color: var(--gris2);
  }
  .proyectos {
    margin-top: 10rem;
  }
  .listado-proyectos li {
    margin-bottom: 2rem;
  }
  .listado-proyectos li a {
    font-size: 1.4rem;
    color: var(--gris2);
    line-height: 1.5;
    font-weight: 300;
  }
  .app-header {
    display: flex;
    justify-content: space-between;
    background-color: var(--gris2);
    padding: 1.45rem;
  }
  .nombre-usuario {
    color: var(--blanco);
    font-size: 2.2rem;
    margin: 0;
  }
  .nombre-usuario span {
    font-weight: 900;
  }
  .nav-principal a {
    color: var(--blanco);
    text-decoration: none;
  }
  .nav-principal a:first-of-type {
    margin-right: 2rem;
  }
  
  /** Formulario crear y editar tareas **/
  .formulario {
    background-color: var(--gris3);
    padding: 4rem;
  }
  .formulario form {
    max-width: 600px;
    margin: 0 auto;
  }
  .contenedor-input {
    display: flex;
  }
  .contenedor-input label {
    margin-bottom: 1rem;
    color: var(--blanco);
  }
  .input-text {
    padding: 1rem;
    border: none;
    border-radius: .5rem;
    flex: 1;
    width: 100%;
  }
  
  /** TAREAS LISTADO **/
  .contenedor-tareas {
    padding: 4rem;
  }
  
  
  
  .listado-tareas {
    max-width: 80%;
    margin: 0 auto;
  }
  
  .tarea {
    /* display: flex; */
    justify-content: space-between;
    background-color: var(--blanco);
    padding: .5rem 2rem;
    align-items: center;
    margin-bottom: 1rem;
    border-radius: .5rem;
    max-height: 270px;
    overflow-y: auto;
    font-size: 15px;
    color:rgb(53, 53, 53)
  }
  .sombra {
    -webkit-box-shadow: 0px 4px 10px -3px rgba(117,117,117,1);
    -moz-box-shadow: 0px 4px 10px -3px rgba(117,117,117,1);
    box-shadow: 0px 4px 10px -3px rgba(117,117,117,1);
  }
  .sombra-dark {
    -webkit-box-shadow: 0px 6px 11px -8px rgba(0,0,0,0.9);
    -moz-box-shadow: 0px 6px 11px -8px rgba(0,0,0,0.9);
    box-shadow: 0px 6px 11px -8px rgba(0,0,0,0.9);
  }
  .tarea .acciones .btn:first-of-type {
    margin-right: 1rem;
  }
  .tarea p {
    font-size: 1.6rem;
    flex: 1;
    padding-right: 2rem;
  }
  .tarea .btn {
    padding: .8rem;
    font-size:1.4rem;
    border-radius: 0;
    margin: 0;
  }
  
  .estado {
    margin-right: 1rem;
  }
  .estado button, 
  .mensaje {
    font-weight: 900;
    font-family: var(--textFont);
    font-size: 1rem;
    padding: .5rem;
    border-radius: .5rem;
    cursor: pointer;
    border: none;
  }
  .mensaje {
    text-align: center;
    font-size: 1.6rem;
    border-radius: 0;
  }
  .mensaje:hover {
    cursor: default;
  }
  .aprobada,
  .correcto {
    background-color: rgba(144, 223, 144, 0.945);
    color: var(--gris3);
    text-transform: capitalize;
  }
  
  .pendiente{
    background-color: rgb(255, 221, 129);
    color: var(--gris3);
    text-transform: capitalize;
  }

  .true{
    background-color: rgb(129, 209, 255);
  }

  .rechazada,
  .false{
    background-color: rgb(230, 162, 162);
    text-transform: capitalize;
  }
  .error {
    max-width: 600px;
    margin: 2rem auto 0 auto;
    background-color: rgb(170, 0, 0);
    color: var(--blanco);
  }
  
  
  
  .tarea-enter,
  .proyecto-enter {
    opacity: 0;
  }
  .tarea-enter-active,
  .proyecto-enter-active {
    opacity: 1;
    transition: opacity 200ms;
  }
  .tarea-exit,
  .proyecto-exit {
    opacity: 1;
  }
  .tarea-exit-active,
  .proyecto-exit-active {
    opacity: 0;
    transition: opacity 200ms;
  }

  
  
  .form-usuario {
      background-color: #000000ab;
      flex-direction: column;
      height: 100vh;
      min-height: 800px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
  }
  
  .contenedor-form {
      padding: 5rem 3rem;
      max-width: 500px;
      width: 95%;
      background-color: var(--blanco);
      border-radius: 1rem;
  }
  
  .campo-form {
      display: flex;
      margin-bottom: 2rem;
      max-width: 100%;
      align-items: center;
  }
  .campo-form:last-of-type {
    margin: 0;
  }
  .campo-form label {
    flex: 0 0 100px;
    font-family: var(--textFont);
  }
  .campo-form input[type="password"],
  .campo-form input[type="email"], 
  .campo-form input[type="text"] {
    border: 1px solid #e1e1e1;
    padding: 1rem;
    flex: 1;
  }

  .mb-5{
    margin-bottom: 5px;
  }
  
  .enlace-cuenta {
    margin-top: 2rem;
    display: block;
    opacity: .7;
  }
  
.d-inline{
    display: inline;
}

.margin-auto{
    display: flex;
    margin:3em auto;
}
.alerta {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem 3rem;
  border-radius: 1rem;
  font-family: var(--headingFont);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 2.2rem;
  text-align: center;
  width: 100%;
  z-index: 100;
}
@media (min-width:768px) {
  .alerta {
      width: auto;
      top: 30px;
      right: 10px;
      left: auto;
  }
}

.alerta-ok {
  background-color: rgb(109, 211, 109);
  color: rgb(2, 103, 2);
}
.alerta-error {
  background-color: rgb(230, 78, 78);
  color: var(--blanco);
}

.alert-warning {
  background-color: rgb(243, 201, 111);
  color: var(--blanco);
}

.alert{
  padding: 1rem 3rem;
  border-radius: 1rem;
  font-family: var(--headingFont);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 2.2rem;
  text-align: center;
  margin: 0 auto;
  width: 90%;
}


/* Propios */

.Orden__titulo{
  text-align: center;
  background-color: rgba(193, 0, 23, .8);
  color: white;
  margin: 0;
}

.Orden__empresa{
  padding: 0 1.2em;
}

.Orden__empresa h4{
  margin: .2em 0;
}

.Orden__empresa-datos{
  margin: .4em 0;
  font-size: 1.1em;
}

.Orden__fecha-folio{
  text-align: right;
  padding: .5em;
}

.Orden__empresa-datos span{
  font-weight: 700;
}

.d-inline{
  display: inline;
}

.margin-auto{
  display: flex;
  margin:3em auto;
}

.container{
  background-color: white;
  border-radius: .5em;
  overflow: hidden;
}

.row {
  padding: 1rem;
}

.cerrar-sesion{
  color: white;
  border: none;
  box-shadow: none;
}


@keyframes ld-dim
{
  0% {
    animation-timing-function: cubic-bezier(0.9647,0.2413,-0.0705,0.7911);
    opacity: 0;
  }
  51% {
    animation-timing-function: cubic-bezier(0.9226,0.2631,-0.0308,0.7628);
    opacity: 0.9995;
  }
  100% {
    opacity: 0;
  }
}
.ld.ld-dim {
  animation: ld-dim 1s infinite linear; ; 
}

.loader{
  max-width: 100%;
  max-height: auto;
  text-align: center;
}

.Card {
  padding: 1px;
  border-radius: var(--border-radius);
  background: linear-gradient(-67deg, var(--options), var(--options-hover));
  overflow: auto;
  box-shadow: -2px -2px 6px var(--options), 2px 2px 12px var(--options-hover);
  width: 100%;
  max-height: 200px;
}

.Card::-webkit-scrollbar-track {
  padding: 1px 0;
  background-color: rgba(0,0,0,0.7);
}

.Card::-webkit-scrollbar {
  width: 8px;
}

.Card::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.7);
}

.CardInner {
  padding: 16px 16px;
  background-color: var(--options);
  border-radius: var(--border-radius);
}

.CardContainer {
  display: flex;
}

.Icon {
  min-width: 46px;
  min-height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  margin-right: 12px;
  box-shadow: -2px -2px 6px var(--options), 2px 2px 12px var(--options-hover);
}

.Icon svg {
  transform: translate(-1px, -1px);
}

.Search__Title {
  display: block;
  color: white;
  margin-bottom: 12px;
  background: linear-gradient(45deg, white, white);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Search__Input {
  background-color: var(--options-hover);
  padding: 16px 32px;
  border: none;
  display: block;
  font-family: 'Orbitron', sans-serif;
  font-weight: 600;
  color: white;
  -webkit-appearance: none;
  transition: all 240ms ease-out;
  width: 100%;
}

.Search__Input::placeholder {
  color: rgba(255,255,255,.8);
}
.Search__Input:focus {
  outline: none;
  color: white;
  background-color: var(--options-hover);
}

.InputContainer {
  --top-shadow: inset 1px 1px 3px var(--options-hover), inset 2px 2px 6px var(--options-hover);
  --bottom-shadow: inset -2px -2px 4px var(--options-hover);
  position: relative;
  border-radius: var(--border-radius);
  overflow: hidden;
  width: 100%;
}
.InputContainer:before, .InputContainer:after {
  left: 0;
  top: 0;
  display: block;
  content: "";
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: absolute;
}
.InputContainer:before {
  box-shadow: var(--bottom-shadow);
}
.InputContainer:after {
  box-shadow: var(--top-shadow);
}

.Search__item {
  display: block;
  min-width: 100%;
  text-align: left;
  background: transparent;
  border: 1px solid transparent;
  color: white;
  padding: 1rem;
}

.Search__item:hover{
  color:rgba(255,255,255,.8);
  border: 1px solid white;
  border-radius: .7rem;
}

/* Tabla */
table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

table thead tr {
  height: 60px;
  background: var(--gris2);;
}

table * {
  position: relative;
}
table td, table th {
  padding-left: 8px;
}
table thead tr {
  height: 60px;
  background: var(--gris2);;
}
table tbody tr {
  height: 50px;
}
table tbody tr:last-child {
  border: 0;
}
table td, table th {
  text-align: left;
}
table td.l, table th.l {
  text-align: right;
}
table td.c, table th.c {
  text-align: center;
}
table td.r, table th.r {
  text-align: center;
}

.table100-head th{
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

tbody tr {
  font-size: 15px;
  color: #808080;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:hover {
  color: #555555;
  background-color: #f5f5f5;
  cursor: pointer;
}

.column1 {
  width: 10%;
  padding-left: 40px;
}

.column2 {
  width: 50%;
}

.column1req {
  width: 90%;
  padding-left: 40px;
}

.column2req {
  width: 10%;
}

.column1rev{
  width: 80%;
  padding-left: 40px;
}

.column2rev {
  width: 10%;
}

.column3rev {
  width: 10%;
  text-align: center;
}


.column3 {
  width: 10%;
}

.column4 {
  width: 10%;
}

.column5 {
  width: 10%;
}

.column6 {
  width: 5%;
}

.DeleteButton {
  width:70%;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  background-image: linear-gradient(to right, #eb3941, #f15e64, #e2373f); 
  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
  border-radius: 50px;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.DeleteButton:hover {
  background-position: 100% 0;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.DeleteButton:focus {
  outline: none;
}


@media screen and (max-width: 992px) {
  table {
    display: block;
  }
  table > *, table tr, table td, table th {
    display: block;
  }
  table thead {
    display: none;
  }
  table tbody tr {
    height: auto;
    padding: 37px 0;
  }
  table tbody tr td {
    padding-left: 40% !important;
    margin-bottom: 24px;
  }
  table tbody tr td:last-child {
    margin-bottom: 0;
  }
  table tbody tr td:before {
    font-family: OpenSans-Regular;
    font-size: 14px;
    color: #999999;
    line-height: 1.2;
    font-weight: unset;
    position: absolute;
    width: 40%;
    left: 30px;
    top: 0;
  }

  table tbody tr td:nth-child(1):before {
    content: "Codigo";
  }
  
  table tbody tr td:nth-child(2):before {
    content: "Descripcion";
  }

  table tbody tr td:nth-child(3):before {
    content: "Unidad";
  }

  table tbody tr td:nth-child(4):before {
    content: "Linea";
  }

  table tbody tr td:nth-child(5):before {
    content: "Cantidad";
  }


  .column4,
  .column5,
  .column6 {
    text-align: left;
  }

  .column4,
  .column5,
  .column6,
  .column1,
  .column2,
  .column3 {
    width: 100%;
  }

  tbody tr {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .container-table100 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.data{
  padding-top:50px;
}

/* Sidebar */

.Logo__sidebar{
  max-width: 100%;
  padding: 2rem;
}

.Option{
  display: block;
  width: 100%;
  background-color: var(--options);
  color: var(--gris1);
  padding: 1rem;
  text-align: center;
  font-weight: 400;
  
}

.Option:hover{  
  transition-duration: .15s;
  transition-timing-function: ease-in-out;   
  background-color: var(--options-hover) ; 
}

.Sidebar__suboption {
  display: block;
  padding: .8rem;
  background: var(--options-hover);
  text-align: center;
  color: rgba(255, 255, 255, 0.877);
}

.Sidebar__PrincipalOptions li{
  margin: 0;
}
.Sidebar__hidden{
  display: none;
}

.Sidebar__hidden:hover{
  display: block;
}

.Option:hover + .Sidebar__hidden{
  display: block;
}

.button-delete{
  background-color: var(--options);
  color: white;
}

.button-delete:hover{
  color: rgb(221, 221, 221);
}



.logo_login{
  max-width: 50%;
  padding-top: 2rem;
  padding-bottom: 10rem;
}

.Modal__review{
  max-height: 85vh;
  width: 50vw;
  text-align: center;
  overflow-y: auto;
  background-color: white;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 6px 11px -8px rgba(0,0,0,0.9);
  -moz-box-shadow: 0px 6px 11px -8px rgba(0,0,0,0.9);
  box-shadow: 0px 6px 11px -8px rgba(0,0,0,0.9);
}

.react-confirm-alert-overlay{
  background: rgba(8, 8, 8, 0.829);
}

.button-blue{
  background-color: rgb(7, 125, 204);
  color: white;
}

.button-blue:hover{
  background-color: rgb(6, 110, 179);
  color: rgb(224, 224, 224);
}

.Requisition {
  position: relative;
  z-index: 1;
  transition: transform 1s;
}

.Review__active {
  position: absolute;
  top: 0px;
  background-color: white;
  z-index: 2;
  width: 90%;
  text-align: center;

}

/* Column */
.column1ord{
  width: 50%;
}
.column2ord{
  width: 10%;
}
.column3ord{
  width: 20%;
}
.column4ord{
  width: 20%;
}

/* Utilities */

.fw-400{
  font-weight: 400;
}

.fw-700{
  font-weight: 700;
}

.txt-center{
  text-align: center;
}

.txt-right{
  text-align: right !important;
}